
.wrappersoc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.iconsoc {
  text-decoration: none;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.iconsoc > i {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.iconsoc:hover > i {
  scale: 2.2;
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  /* background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.iconsoc::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%;
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  /* background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%); */
  scale: 1;
  z-index: -1;
  transition: all 300ms ease-out;
}
.iconsoc:hover::before {
  scale: 0;
}
@media screen and (max-width: 600px)  {
 /* SOCIAL MEDIA ICON  */
 .wrappersoc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.iconsoc {
  text-decoration: none;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.iconsoc > i {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s;
  
}

.iconsoc:hover > i {
  scale: 2;
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  /* background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.iconsoc::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20%;
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  /* background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%); */
  scale: 1;
  z-index: -1;
  transition: all 300ms ease-out;
}
.iconsoc:hover::before {
  scale: 0;
}
  
}